table {
    width: 100%;
    margin-top:10px;
    font-family: 'Times New Roman', Times, serif;
  }

  table th{
      font-size: medium;
      font-weight: 500;
      color: black;
      background-color: darkcyan;
  }